<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title><%= title !== "" ? `${title} — Toasted Clicker` : "Toasted Clicker" %></title>
<link
  rel="icon"
  type="image/svg+xml"
  href="https://toasted.dev/favicon.svg"
/>
<meta name="description" content="The toastiest clicker in the world!" />
<meta property="og:title" content="<%= title !== "" ? `${title} — Toasted Clicker` : "Toasted Clicker" %>" />
<meta property="og:description" content="The toastiest clicker in the world!" />
<meta property="og:url" content="https://toasted.dev/" />
<meta property="og:type" content="website" />
<meta name="twitter:creator" content="@ToastedDev" />
<meta name="twitter:creator:id" content="1145171094556426240" />
<meta name="twitter:title" content="<%= title !== "" ? `${title} — Toasted Clicker` : "Toasted Clicker" %>" />
<meta name="twitter:description" content="The toastiest clicker in the world!" />
<meta property="og:image" content="https://toasted.dev/logo.png" />
<meta name="twitter:image" content="https://toasted.dev/logo.png" />
<meta name="twitter:card" content="summary" />
<meta name="theme-color" content="#ff6900" />
<link rel="stylesheet" href="/static/styles.css">
